# Configuración y Entornos Virtuales
.venv/
venv/
env/
__pycache__/
*.pyc

# Variables de entorno y secretos HIPER CONFIDENCIALES
.env

# Archivos de SO o IDEs
.vscode/
.idea/
.DS_Store
.gemini/

data/performance_log.json
data/quantum_scan_cache.json
data/ai_scan_user_api_times.json
data/user_registry.json
data/active_trades.json
data/bot_ai_fuse_state.json
scratch/
data/groq_rpd_state.json
data/global_cache.json
data/invite_mapping.json
data/subscriptions.json
data/heatmap_cache.json
data/trial_history.json
data/news_cache.json
data/trade_logs.json

