[Unit]
Description=AI Trading Sentinel (Discord Bot)
After=network.target

[Service]
User=c1vrol_main
WorkingDirectory=/home/c1vrol_main/AI-Trading-Sentinel
ExecStart=/home/c1vrol_main/AI-Trading-Sentinel/venv/bin/python main.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target